/* Fonts -------------------- */

@font-face{
  font-family:'American Tuscan';
  src:url('../fonts/AmericanTuscan-Regular.ttf');
}

@font-face{
  font-family:'Cast Iron';
  src:url('../fonts/CastIron-Condensed.otf');
}

@font-face{
  font-family:'Parisish';
  src:url('../fonts/Parisish.ttf');
}

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Cast Iron", Arial, sans-serif;
  letter-spacing: 1px;
}

h1, h3, .logo-span {
  font-family:'American Tuscan', Helevtica, Arial, sans-serif;
}

.nav span {
    margin: 0 -30px 0 10px;
}

nav li {
  display: inline-block;
  padding: 0 20px;
  font-size: 3rem;
  border-top: 3px solid steelblue;
  border-bottom: 3px solid steelblue;
}

h2 {
  font-size: 4.25rem;
  line-height: 1.1;
  color: #48525c;
  border-bottom: 4px solid lightgreen;
  font-family:'Parisish', Helevtica, Arial, sans-serif;
  margin: 100px auto 0;
  font-weight: 200;
}

.why-us h2 {
  font-size: 4.25rem;
  font-weight: 200;
  line-height: 1.1;
  border-bottom: 4px solid lightgreen;
  font-family:'Parisish', Helevtica, Arial, sans-serif;
  margin: 100px auto 0;
}

.why-us li {
  font-size: 1.8rem;
}

.events h3 a, .tips h3 a, .why-us h2 a  {
  font: 4.25rem 'Parisish', Helvetica, sans-serif;
  color: #48525c;
}

h3 {
  line-height: 1.2;
  margin-bottom: 1rem;
  border-bottom: 4px solid steelblue;
  text-transform:capitalize;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 10px 0;
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: lightgreen;
  text-decoration: none;
}

a:visited {
  color: lightgreen;
}

a:hover {
  color: lightgreen;
}

a:active {
  color: lightgreen;
}

/* Main Styles --------------------- */

.main-header {
  padding-top: 170px;
  height: 750px;
  background: #5fcf80 url('../img/burger.jpg') no-repeat center;
  background-size: cover;
  border-top: 10px solid lightgreen;
}

.title {
  color: black;
  font-size: 2.625rem;
  letter-spacing:.065em;
  font-weight:200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content, .page-bottom {
	padding-bottom: 70px;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background:steelblue;
  border-bottom: 10px solid lightgreen;
}

footer p a {
    font-size: 1.5rem;
}

/* Home Page Layout Styles ------------------ */

.primary-content,
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.hours {
  list-style:none;
  margin-top:0px;
}

.mobile-logo {
  display:none;
}

.main-footer img:hover {
  background: lightgreen;
  border-radius: 50%;
}

.page-nav ul {
  border-bottom: 10px solid lightgreen;
}

/* Floated Columns ------------------ */

.events,
.tips, .subscribe-form {
  width: 46.5%;
  text-align:center;
}

.why-us {
  width: 80%;
  text-align:center;
  margin:150px auto;
  clear:both;
}

.tips {
  float: left;
}

.tips li, .events li, .hours li {
  font-size: 2rem;
}

.events {
  float: right;
}

/* Other Page Layout ------------------ */

.page-header {
  padding-top: 170px;
  height: 750px;
  background: #5fcf80 url('../img/table.jpg') no-repeat center;
  background-size: cover;
  border-top: 10px solid lightgreen;
}

.cognito p {
  color:steelblue;
  font-size: 2rem;
}

.c-forms-confirmation-message p {
  font-family: 'Cast Iron';
  color: #878787;
  line-height: 2.1rem;
}

.c-section {
  color: steelblue;
  text-align: left;
}

.cognito .c-helptext {
  padding: 5px 8px 2px 8px;
  font-style: italic;
  font-size: 1.5rem;
  font-family:'Cast Iron';
  clear: left;
  margin: 0;
  line-height: 1.1;
}

.cognito .c-label {
  font-size:1.8rem;
  font-family:'Cast Iron';
  font-weight:100;
}

.c-forms-heading h2 {
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 .5em;
}

.c-forms-description {
  border-top: 4px solid lightgreen;
  color:steelblue;
}

#c-submit-button {
    font-family: 'Cast Iron';
    background: white;
    font-size: 1.8rem;
    color: #878787;
}

#c-submit-button:hover {
    background-color: lightgreen;
}

.c-label label {
  font-weight: 100;
  font-family: 'Cast Iron';
  font-size: 1.8rem;
}

.list-head {
  color:lightgreen;
  border-bottom: 2px solid #878787;
}

.list-item, .list-head {
  font-size: 3rem;
}

.burger-list a {
  color:steelblue;
}

.reason-alt {
  color:steelblue;
}

.reason-alt span {
  color: lightgreen;
}

.menu {
  max-width: 1000px;
  text-align: center;
  margin: auto auto 10rem;
  font-size: 3rem;
}

.menu-head {
  color: lightgreen;
  border-bottom: 4px solid #48525c;
}

.menu h3 {
  font-weight:100;
}

.menu p {
  margin: -5px 0 0;
  font-size: 1.3rem;
  font-family: 'American Tuscan';
  font-weight: 100;
  color: lightgreen;
}

.menu li {
  font-size: 2rem;
  font-family:'Parisish';
  margin-bottom:2rem;
}

.menu dd {
  margin: -2.5rem 0 1.5rem;
  font-size: 1.2rem;
  font-family: 'American Tuscan';
  font-weight: 100;
  color: lightgreen;
}

.menu-alt {
  color: steelblue !important;
}

.menu-other {
  color: lightgreen !important;
}

.shop-story h2 {
  font-family:'American Tuscan';
}

.shop-story p {
  font-family:'Parisish';
  font-size: 1.5rem;
}

.shop-story span {
  color:lightgreen;
}

#snacks, #sides, #drinks {
  float:left;
  margin: auto auto 10rem;
}

.divider {
  clear:both;
}

#salads, #kids, #desserts {
  float:right;
  margin: auto auto 10rem;
}

#burgers {
  clear:both;
  margin: auto auto 10rem;
  max-width: 90%;
}

#dogs, #adult {
  clear: both;
  max-width: 50%;
  margin: auto auto 10rem;
}

.menu p a {
  color: lightgreen;
}

.number {
  font-family:'Cast Iron';
}

.bom {
  color:steelblue;
  text-transform:uppercase;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

.subscribe-form {
  clear:both;
  margin:auto auto 10rem;
}

/* Media Queries -------------------- */

@media screen and (max-width:1024px) {
    .primary-content, .secondary-content {
    width: 90%;
   }

  .flavors {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media screen and (min-width: 1120px) {
  .logo {
    float:left;
    margin-left: 10px;
  }

  .logo h1 {
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 5px 8px 10px rgba(0,0,0,.8);
    margin: 0 0 10px;
    border-bottom: 2px solid black;
  }

  .page-title {
    color: black;
    font-size: 1.5rem;
    letter-spacing:.065em;
    font-weight:200;
    padding-bottom: 10px;
  }

  nav ul {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding-left: 0px;
  }

  nav a:link, nav a:visited {
    color: steelblue;
  }

  .logo-span a:link, .logo-span a:visited {
    color:lightgreen;
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .primary-content, .secondary-content {
    width: 100%;
    padding:20px;
    border-top:none;
    margin: auto;
  }

  .events, .tips {
    text-align: center;
  }

  .secondary-content {
    margin-top: 75px;
  }

  .main-header {
    max-height:600px;
    padding:50px 25px 0;
  }

  .page-header {
    max-height:400px;
    padding:50px 25px 0;
  }

  .title {
    font-size:1.3rem;
    border-bottom:1px solid black;
  }

  h1 {
    font-size:5rem;
    line-height:1.1;
  }

  .intro {
    font-size:1rem;
  }

  .events, .tips {
    float:none;
    width:100%;
    max-width: 600px;
    margin: auto;
  }

  .main-footer {
    padding:20px 0;
  }

  nav ul {
    text-align: center;
    margin: 10px 0;
    list-style: none;
    padding-left: 0;
    font-size: 2rem;
  }

  nav a:link, nav a:visited {
    color: steelblue;
  }

  .logo-span a:link, .logo-span a:visited {
    color: lightgreen;
    font-size: 3.5rem;
  }

  .hours {
    padding-left:0;
  }

  .logo h1 {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 5px 8px 10px rgba(0,0,0,.8);
    margin: 0 0 10px;
    border-bottom:0;
  }

  .logo {
    float:none;
    text-align: center;
    margin-bottom: 30px;
  }

  .page-title {
    color: black;
    font-size: 1.5rem;
    letter-spacing:.065em;
    font-weight:200;
    padding-bottom: 10px;
  }

  .subscribe-form {
    width: 70%;
    text-align: center;
  }
}

@media screen and (max-width: 1040px){
  .logo-span a:link, .logo-span a:visited {
    display:none;
  }

  .mobile-logo {
    display: block;
    color: lightgreen;
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-weight: 100;
  }

  .nav span {
    display:none;
  }
}

@media screen and (max-width: 760px){
  #snacks, #sides, #drinks, #salads, #kids, #desserts, #burgers, #dogs, #adult {
    clear:both;
    float:none;
    max-width: 70%;
  }
}

@media screen and (max-width: 550px){
  nav ul {
    text-align: center;
    margin: 0;
    list-style: none;
    padding-left: 0px;
    font-size: 1.15rem;
  }

  nav a:link, nav a:visited {
    color: steelblue;
  }

  h1 {
    font-size:4rem;
    line-height:1.1;
  }

  .mobile-logo {
    font-size: 2.35rem;
  }

  nav li {
    padding: 0 10px;
  }
}

@media screen and (max-width: 400px){
  .mobile-logo {
    font-size: 1.7rem;
  }

  nav li {
    font-size: 2rem;
  }
}
